.orderItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

.column {
    float: left;
    width: 50%;

}

#cashierMenuItems {
  margin-bottom: 20px; /* Adjust the value as needed */
}
