#root {
    
    display: block;
    width: 100%;
    position: absolute;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    top: 0;
}
.orderItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: rem;
  }

.column {
    float: left;
    width: 45%;
    margin-right: 2rem;

}

.items{
    margin-left: 6rem;
    display: grid;
    grid-template-columns:max-content max-content;
    grid-auto-columns: auto;
    /*grid-template-columns: auto auto auto auto;*/
    row-gap: 4rem;
    column-gap: 2rem;
}

#cashierMenuItems {
  margin-bottom: 20px; /* Adjust the value as needed */
}
