#root {
    display: block;
    width: 100%;
    position: absolute;
    top: 0;
}

.DrinkTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toCart {
  margin-right: 50px;
}

.Title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: auto auto auto;
    column-gap: 2%;
    row-gap: 2%;
    width: 100%;
    padding-bottom: 20px;
}

.itemLink{
    display: flex;
    align-items: center;
    justify-content: center;
}

.item {
    padding-top: 1rem;
    padding-bottom: 0px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.right-buttons {
    display: flex;
    gap: 10px;
    padding-right: 30px;
}
