.ContentContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.ingredientsTable {
  border-collapse: collapse;
  width: 100%;
  margin-right: 20px;
}

.ingredientsTable th, .ingredientsTable td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.MenuItemsList li {
  cursor: pointer;
  padding: 8px;
  margin: 4px;
  border: 1px solid #ccc;
  list-style: none;
  max-width: 500px;
}

.MenuItemsList li.selected {
  background-color: #e1e1e1;
  color: #333;
}

.ButtonColumn {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  margin-right: 10px;
}

.ButtonColumn button {
  margin-bottom: 10px;
}

.ReportButtons {
  display: flex;
  justify-content: space-between;
}

.ReportButtons button {
  margin-right: 10px;
}

.ingredientColumn input {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  margin-right: 15px;
  margin-left: 15px;
}

.TextboxContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TextboxLabel {
  display: inline-block;
  margin-left: 15px;
}

.CheckboxList {
  display: flex;
  flex-direction: column;
}